languages

plugins
!plugins/sitepoint-upload-master/

themes/*
!themes/hello-elementor/*



uploads
index.php

# ignore node dependency directories
node_modules/

# ignore log files and databases
*.log
*.sql
*.sqlite
.idea