.hl-property-slider-1 .hl-property-slider__item {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    padding: 0 16px;
}

@media (max-width: 576px) {
    .hl-property-slider-1 .hl-property-slider__item {
        padding: 0 30px;
    }
}

.hl-property-slider-1 .swiper-slide {
    background-color: #fff;
}

.hl-property-slider-1 .hl-property-slider__item-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100% !important;
    pointer-events: none;
    z-index: -1;
    object-fit: cover;
    object-position: center;
}

@media (max-width: 1380px) {
    .hl-property-slider-1 .hl-property-slider__item-bg {
        position: static;
        height: 450px !important;
    }
}

.hl-property-slider-1 .hl-property-slider__item-inner {
    max-width: 1170px;
    width: calc(100% - 30px);
    margin-left: auto;
    margin-right: auto;
    min-height: 450px;
    display: flex;
    align-items: center;
}

@media (max-width: 1380px) {
    .hl-property-slider-1 .hl-property-slider__item-inner {
        justify-content: center;
        min-height: auto;
    }
}

.hl-property-slider-1 .hl-property-slider__item-block {
    max-width: 960px;
    margin: 0 auto;
    width: 100%;
    min-height: 540px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

@media (max-width: 1260px) {
    .hl-property-slider-1 .hl-property-slider__item-block {
        justify-content: center;
    }
}

.hl-property-slider__nav:hover,
.hl-property-slider__nav:focus {
    border: none;
    background-color: #fff;
    outline: none;
}

.hl-property-slider-1 .hl-listing-card {
    min-height: 340px;
}

.hl-property-slider-1 .hl-listing-card > *:not(:last-child) {
    padding: 0 24px;
}

.hl-property-slider-1 .hl-listing-card__wrap-tag {
    padding: 0 !important;
    top: 26px !important;
}

.hl-property-slider-1 .hl-listing-card__wrap-tag_left {
    left: 24px !important;
}

.hl-property-slider-1 .hl-listing-card__wrap-tag_right {
    right: 24px !important;
}

.hl-property-slider-1 .hl-listing-card {
    position: relative;
    padding-top: 80px;
    max-width: 360px;
    width: 100%;
}

.hl-property-slider-1 .hl-listing-card__info {
    margin: 0 -2px 6px;
}

.hl-property-slider-1 .hl-listing-card__info-item {
    width: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 2px;
    flex-grow: 1;
}

.hl-property-slider-1 .hl-listing-card__info-value {
    font-size: 12px;
}

.hl-property-slider-1 .hl-listing-card__info-icon {
    margin: 0 0 8px;
}

.hl-property-slider-1 .hl-property-slider__item-title {
    font-weight: bold;
    font-size: 24px;
    line-height: 1.3;
    display: block !important;
    margin-bottom: 10px;
    color: #343B4C;
    transition: 0.3s all ease;
}

.hl-property-slider-1 .hl-property-slider__item-title:hover {
    color: #0987F8;
}

.hl-property-slider-1 .hl-property-slider__item-location {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
}

.hl-property-slider-1 .hl-property-slider__item-location-icon {
    margin-right: 10px;
    font-size: 20px;
    color: #1348C2;
}

.hl-property-slider-1 .hl-property-slider__item-location-text {
    color: #888;
    font-size: 14px;
}

.hl-property-slider-1 .hl-property-slider__item-list {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: -8px;
    margin-right: -8px;
    margin-bottom: -12px;
}

.hl-property-slider-1 .hl-property-slider__item-list-item {
    width: 100%;
    max-width: 50%;
    padding: 0 8px;
    margin-bottom: 25px;
}

.hl-property-slider-1 .hl-property-slider__item-list-item-icon {
    font-size: 16px;
    margin-right: 5px;
    color: #ddd;
    width: 20px;
    text-align: center;
}

.hl-property-slider-1 .hl-property-slider__item-list-item-text {
    font-size: 14px;
    color: #222;
    display: inline-block;
}

.hl-property-slider-1 .hl-property-slider__item-bottom {
    border-top: 1px solid #ededed;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 18px;
}

.hl-property-slider-1 .hl-property-slider__item-rating {
    display: flex;
    align-items: center;
}

.hl-property-slider-1 .hl-property-slider__item-rating li {
    margin-right: 2px;
}

.hl-property-slider-1 .hl-property-slider__item-rating li:last-child {
    margin-right: 0;
}

.hl-property-slider-1 .hl-property-slider__item-rating i {
    font-size: 16px;
    cursor: text;
    color: #FFC600
}

.hl-property-slider-1 .hl-property-slider__item-price {
    display: flex;
    align-items: baseline;
    justify-content: flex-end;
    font-weight: bold;
    font-size: 18px;
    line-height: 1.2;
    color: #343B4C;
    margin-bottom: 12px;
}

.hl-property-slider-1 .hl-property-slider__item-text {
    font-size: 12px;
    text-transform: capitalize;
    color: #888;
    position: relative;
    padding-right: 20px;
}

/* Skin 2 BEGIN */
.hl-property-slider-2 {

}

.hl-property-slider-2 .hl-property-slider__item {
    min-height: 540px;
    height: 100vh;
    padding: 60px 16px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    text-align: center;
}

@media (max-width: 768px) {
    .hl-property-slider-2 .hl-property-slider__item {
        padding: 40px 16px;
    }

    .hl-property-slider-1 .hl-property-slider__item-block {
        min-height: 480px;
    }
}

.hl-property-slider-2 .hl-property-slider__item:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.35);
    z-index: 0;
}

.hl-property-slider-2 .hl-property-slider__item-block {
    position: relative;
    z-index: 1;
    width: 100%;
    max-width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.hl-property-slider-2 .hl-property-slider__item-block > * {
    margin-bottom: 24px;
    display: block;
    line-height: 1.2;
}

.hl-property-slider-2 .hl-property-slider__item-block > *:last-child {
    margin-bottom: 0;
}

.hl-property-slider-2 .hl-property-slider__item-location-icon {
    color: var(--red-1);
    font-size: 24px;
    margin-right: 12px;
}
.hl-property-slider-2 .hl-property-slider__item-location {
    display: flex;
    align-items: center;
    justify-content: center;
}
.hl-property-slider-2 .hl-property-slider__item-location-text {
    color: #fff;
    font-size: 24px;
    text-align: left;
    line-height: 1.2;
}


.hl-property-slider-2 .hl-property-slider__item-title {
    font-weight: 900;
    font-size: 36px;
    line-height: 1.1;
    color: #FFFFFF;
    transition: 0.3s all ease;
}
.hl-property-slider-2 .hl-property-slider__item-title:hover {
    opacity: 0.8;
}
.hl-property-slider-2 .hl-property-slider__item-price {
    color: #fff;
    font-size: 24px;
    font-weight: 500;
}
.hl-property-slider-2 .hl-property-slider__pagination {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: 50px;
    z-index: 5;
    width: 100%;
    max-width: 90%;
    flex-wrap: wrap;
    margin-bottom: -6px;
}
.hl-property-slider-1 .hl-property-slider__nav,
.hl-property-slider-2 .hl-property-slider__nav {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    z-index: 5;
    background: rgba(255,255,255, 0.15);
    color: #333;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    padding: 0;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s all ease;
}
.hl-property-slider-1 .hl-property-slider__nav svg,
.hl-property-slider-2 .hl-property-slider__nav svg {
    width: 23px;
    height: 23px;
}
.hl-property-slider-1 .hl-property-slider__nav svg path,
.hl-property-slider-2 .hl-property-slider__nav svg path {
    transition: 0.3s all ease;
}
.hl-property-slider-1 .hl-property-slider__nav:hover:not(.swiper-button-disabled),
.hl-property-slider-2 .hl-property-slider__nav:hover:not(.swiper-button-disabled) {
    background-color: #fff;
}
.hl-property-slider-1 .hl-property-slider__nav:hover:not(.swiper-button-disabled) svg path,
.hl-property-slider-2 .hl-property-slider__nav:hover:not(.swiper-button-disabled) svg path {
    fill: #0987F8;
}
.hl-property-slider-1 .hl-property-slider__nav.swiper-button-disabled,
.hl-property-slider-2 .hl-property-slider__nav.swiper-button-disabled {
    opacity: 0.7;
    pointer-events: none;
}
.hl-property-slider-1 .hl-property-slider__nav_prev,
.hl-property-slider-2 .hl-property-slider__nav_prev {
    left: 8vw;
}
.hl-property-slider-1 .hl-property-slider__nav_next,
.hl-property-slider-2 .hl-property-slider__nav_next {
    right: 8vw;
}
@media (max-width: 1440px) {
    .hl-property-slider-1 .hl-property-slider__nav_prev,
    .hl-property-slider-2 .hl-property-slider__nav_prev {
        left: 5vw;
    }
    .hl-property-slider-1 .hl-property-slider__nav_next,
    .hl-property-slider-2 .hl-property-slider__nav_next {
        right: 5vw;
    }
}
@media (max-width: 992px) {
    .hl-property-slider-1 .hl-property-slider__nav_prev,
    .hl-property-slider-2 .hl-property-slider__nav_prev {
        left: 20px;
    }
    .hl-property-slider-1 .hl-property-slider__nav_next,
    .hl-property-slider-2 .hl-property-slider__nav_next {
        right: 20px;
    }
}
@media (max-width: 768px) {
    .hl-property-slider-2 .hl-property-slider__item-location-text {
        font-size: 16px;
    }
    .hl-property-slider-2 .hl-property-slider__item-location-icon {
        font-size: 22px;
        margin-right: 10px;
    }
    .hl-property-slider-2 .hl-property-slider__item-block > * {
        margin-bottom: 20px;
    }
    .hl-property-slider-2 .hl-property-slider__item-title {
        font-size: 28px;
    }
    .hl-property-slider-2 .hl-property-slider__item-price {
        font-size: 20px;
    }

    .hl-property-slider-2 .hl-property-slider__item {
        min-height: 420px;
    }

    .hl-property-slider-2 .hl-property-slider__pagination {
        max-width: 62%;
        bottom: 42px;
        min-height: 40px;
    }
}

.hl-property-slider-1 .hl-listing-card .hl-listing-card__location {
    flex-wrap: nowrap !important;
}

@media (max-width: 576px) {
    .hl-property-slider-2 .hl-property-slider__item-block {
        max-width: 100%;
    }

    .hl-property-slider-1 .hl-property-slider__nav,
    .hl-property-slider-2 .hl-property-slider__nav {
        top: auto;
        transform: translate(0, 50%);
        bottom: 60px;
        width: 40px;
        height: 40px;
    }

    .hl-property-slider-2 .hl-property-slider__nav svg {
        width: 20px;
        height: 20px;
    }

    .hl-property-slider-1 .hl-property-slider__nav svg {
        width: 16px;
        height: 16px;
    }

    .hl-property-slider-1 .hl-listing-card__info-item {
        flex-direction: row;
        justify-content: flex-start;
    }

    .hl-listing-card_skin-4 .hl-listing-card__info-value {
        text-align: left;
    }

    .hl-property-slider-1 .hl-listing-card__info-icon {
        margin: 0 8px 0 0;
    }

    .hl-property-slider-1 .hl-property-slider__nav {
        border: 1px solid #e0e0e0;
        top: 28.5%;
        bottom: 0;
        transform: translate(0, -50%);
        background-color: #fff !important;
        opacity: 1 !important;
        width: 32px;
        height: 32px;
    }

    .hl-property-slider-1 .hl-listing-card {
        padding-top: 60px;
        min-height: 280px;
    }

    .hl-property-slider-1 .hl-listing-card__wrap-tag {
        top: 18px !important;
    }

    .hl-property-slider-1 .hl-listing-card__info-item {
        flex-grow: initial;
        width: 50%;
    }

    .hl-property-slider-1 .hl-listing-card__wrap-tag_left {
        left: 18px !important;
    }

    .hl-property-slider-1 .hl-listing-card__wrap-tag_right {
        right: 18px !important;
    }

    .hl-property-slider-1 .hl-property-slider__nav svg path {
        fill: #0987F8;
    }

    .hl-property-slider-2 .hl-property-slider__nav_next {
        right: 16px;
    }

    .hl-property-slider-2 .hl-property-slider__nav_prev {
        left: 16px;
    }

    .hl-property-slider-1 .hl-property-slider__nav_prev {
        left: 10px;
    }
    .hl-property-slider-1 .hl-property-slider__nav_next {
        right: 10px;
    }

    .hl-property-slider-1 .hl-listing-card > *:not(:last-child) {
        padding: 0 18px;
    }

    .hl-property-slider-1 .hl-property-slider__item-title {
        font-size: 18px;
    }

    .hl-property-slider-1 .hl-property-slider__item-price {
        font-size: 16px;
    }
}
.hl-property-slider-2 .swiper-pagination-bullet {
    margin: 0 4px 6px !important;
    background-color: transparent;
    border: 1px solid #fff;
    width: 13px;
    height: 13px;
    opacity: 1 !important;
}
.hl-property-slider-2 .swiper-pagination-bullet-active {
    background-color: #fff;
}
.hl-property-slider-2 {}
.hl-property-slider-2 {}
.hl-property-slider-2 {}
.hl-property-slider-2 {}
/* Skin 2 END */

.swiper-container-fade .swiper-slide-active {
    z-index: 10;
}
