:root {
    --default-transition: 0.3s ease;
    --dark: #333;
    --purple-1: #3a2c5f;
    --green-1: #06b236;
    --red-1: #FF3B3D;
    --blue-1: #0073e1;
    --gray-1: #5c727d;
    --gray-border-1: #eef3f6;
    --light-1: #f1bf7f;
}

/* Common BEGIN */
body,
html {
    overflow-x: hidden;
}

.img-placeholder {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

ul,
ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

.hl-img-responsive {
    max-width: 100%;
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
}

.ml-auto {
    margin-left: auto;
}

.mr-auto {
    margin-right: auto;
}

.mt-auto {
    margin-top: auto;
}

.mb-auto {
    margin-bottom: auto;
}

.swiper-wrapper {
    align-items: stretch;
}

.swiper-slide {
    height: auto;
}

.hl-gallery-1 .hl-gallery__slider-nav,
.hl-gallery-3 .hl-gallery__slider-nav {
    position: absolute;
    top: 0;
    height: 100%;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    cursor: pointer;
    transition: .4s all ease;
    opacity: 0;
    transform: translate(0);
}

.hl-gallery-1 .hl-gallery__slider-nav svg,
.hl-gallery-3 .hl-gallery__slider-nav svg {
    color: #fff;
    width: 26px;
    height: 26px;
}

.hl-gallery-1 .hl-gallery__slider-nav svg path,
.hl-gallery-3 .hl-gallery__slider-nav svg path {
    fill: #fff;
}

.hl-gallery-1 .hl-gallery__slider:hover .hl-gallery__slider-nav,
.hl-gallery-3 .hl-gallery__slider:hover .hl-gallery__slider-nav {
    opacity: 1;
}

.hl-gallery-1 .hl-gallery__slider-nav_prev,
.hl-gallery-3 .hl-gallery__slider-nav_prev {
    left: 0;
    background: rgba(0, 0, 0, 0) linear-gradient(to left, transparent 0%, rgba(0, 0, 0, 0.25) 100%) repeat scroll 0% 0%;
}

.hl-gallery-1 .hl-gallery__slider-nav_prev svg,
.hl-gallery-3 .hl-gallery__slider-nav_prev svg {
    transform: rotate(180deg);
}

.hl-gallery-1 .hl-gallery__slider-nav_next,
.hl-gallery-3 .hl-gallery__slider-nav_next {
    right: 0;
    background: rgba(0, 0, 0, 0) linear-gradient(to right, transparent 0%, rgba(0, 0, 0, 0.25) 100%) repeat scroll 0% 0%;
}

@media (max-width: 992px) {
    .hl-gallery-1 .listing-slider-arrow,
    .hl-gallery-3 .listing-slider-arrow {
        width: 40px;
        opacity: 1;
    }
}
/* Common END */



/* Skin 1 BEGIN */
.hl-gallery__slider {
    position: relative;
}

.hl-gallery-1 .swiper-slide {
    width: auto;
}

.hl-gallery-1 .hl-gallery__wrap-image {
    position: relative;
    display: block;
}

.hl-gallery-1 .hl-gallery__wrap-image:before {
    content: '';
    display: block;
    padding-top: 65%;
    pointer-events: none;
}

.hl-gallery-1 .hl-gallery__image {
    display: block;
    user-select: none;
    object-fit: cover;
    object-position: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.hl-gallery__slider-pagination {
    margin-top: 15px;
}

@media(min-width: 991px) {
    .hl-gallery-1 .hl-gallery__slider .hl-gallery__wrap-image {
        width: 45vw;
    }

    .hl-gallery-1 .hl-gallery__slider.hl-gallery__slider_full .hl-gallery__wrap-image {
        width: 100%;
    }
}
/* Skin 1 END */




/* Skin 2 BEGIN */
.hl-gallery__list-item {
    display: block;
    font-size: 0;
    padding: 0 3px;
}

.hl-gallery__list-item-inner {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hl-gallery__list-item-inner:before {
    content: '';
    display: block;
    padding-top: 63%;
    pointer-events: none;
}

.hl-gallery__list-item-inner:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
    opacity: 0;
    transition: 0.2s all ease;
}

.hl-gallery__list-item-text {
    text-transform: uppercase;
    font-size: 16px;
    color: #fff;
    font-weight: 500;
    transition: 0.2s all ease;
    opacity: 0;
    z-index: 2;
}

.hl-gallery__list-item:last-child .hl-gallery__list-item-text,
.hl-gallery__list-item:last-child .hl-gallery__list-item-inner:after,
.hl-gallery__list-item-inner:hover:after {
    opacity: 1;
}

.hl-gallery-2 .hl-gallery__image {
    display: block;
    user-select: none;
    object-fit: cover;
    object-position: center;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
}

.hl-gallery-2 .hl-gallery__list {
    display: grid;
    grid-auto-columns: calc(100% / 3);
    grid-template-columns: repeat(3, calc(100% / 3));
    grid-row-gap: 6px;
    margin-left: -3px;
    margin-right: -3px;
}

.hl-gallery__list-item:first-child {
    grid-row: span 2;
    grid-column: span 2;
}

@media(max-width: 992px) {
    .hl-gallery-2 .hl-gallery__list {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -6px -12px;
    }

    .hl-gallery__list-item {
        padding: 0 6px;
        margin-bottom: 12px;
        width: 100%;
        max-width: 50%;
    }
}

@media(max-width: 576px) {
    .hl-gallery__list-item {
        max-width: 100%;
    }

}
/* Skin 2 END */



/* Skin 3 BEGIN */
.hl-gallery-3 .hl-gallery__wrap-image {
    position: relative;
    display: block;
}

.hl-gallery-3 .hl-gallery__wrap-image:before {
    content: '';
    display: block;
    padding-top: 65%;
    pointer-events: none;
}

.hl-gallery-3 .hl-gallery__image {
    display: block;
    user-select: none;
    object-fit: cover;
    object-position: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.hl-gallery-3 .hl-gallery__slider-thumbs {
    margin-top: 10px;
}

.hl-gallery-3 .swiper-slide {
    cursor: pointer;
}
/* Skin 3 END */

