:root {
    --default-transition: 0.3s ease;
    --dark: #333;
    --green-1: #06b236;
    --red-1: #FF3B3D;
    --blue-1: #0073e1;
    --gray-1: #5c727d;
    --gray-border-1: #eef3f6;
}


/* Common BEGIN */
ul,
ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

.hl-img-responsive {
    max-width: 100%;
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
}

.ml-auto {
    margin-left: auto;
}

.mr-auto {
    margin-right: auto;
}

.mt-auto {
    margin-top: auto;
}

.mb-auto {
    margin-bottom: auto;
}
/* Common END */


/* ListingS BEGIN */
.hl-listings {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));
    grid-gap: 24px;
    align-content: stretch;
    align-items: stretch;
}
/* ListingS END */


/* Listing card common BEGIN */
.hl-listing-card-wrap {

}

.hl-listing-card {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 100%;
    background-color: #fff;
    line-height: 1.4;
    transition: all var(--default-transition);
}

.hl-listing-card__carousel-nav {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    z-index: 2;
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border: none;
    background-color: transparent;
}

.hl-listing-card-1__carousel-nav:hover,
.hl-listing-card-1__carousel-nav:focus {
    border: none;
    background-color: transparent;
    outline: none;
}
/* Listing card common END */






/* Listing card 1 END */
.hl-listing-card-1 {
    box-shadow: 0 -1px 19px 0 rgba(7, 152, 255, 0.12);
}

@media (min-width: 992px) {
    .hl-listing-card-1.hl-listing-card-1_hover:hover {
        box-shadow: 0 3px 23px 9px rgba(7,152,255,0.15);
        transform: translate(0%, -10px);
    }
}

.hl-listing-card-1.hl-listing-card-1_hover:hover .hl-listing-card-1__picture-img {
    opacity: 0.8;
    transform: scale(1.1);
}

.hl-listing-card-1:hover .hl-listing-card-1__title a {
    color: var(--red-1);
}

.hl-listing-card-1__icon {
    display: none;
}

.hl-listing-card-1__picture {
    position: relative;
}

.hl-listing-card-1__picture-wrap-img {
    display: block !important;
    font-size: 0;
    overflow: hidden;
    background-color: var(--dark);
    position: relative;
}

.hl-listing-card-1__picture-wrap-img:before {
    content: "";
    padding-top: 65%;
    display: block;
    pointer-events: none;
}

.hl-listing-card-1__picture-img-picture {
    display: block;
}

.hl-listing-card-1__picture-img {
    min-height: 200px;
    transition: all 0.6s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100% !important;
}

.hl-listing-card-1__tags,
.hl-listing-card-1__location {
    position: absolute;
    width: 100%;
    padding: 0 18px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    z-index: 5;
}

.hl-listing-card-1__tags {
    top: 16px;
    justify-content: space-between;
}

.hl-listing-card-1__tag-wrap {
    position: relative;
    margin-bottom: 6px;
    margin-right: 6px;
    display: flex;
    align-items: stretch;
    justify-content: center;
}

.hl-listing-card-1__tag-wrap:last-child {
    margin-right: 0;
}

.hl-listing-card-1__tag {
    font-size: 12px;
    background-color: #f1bf7f;
    color: #fff;
    padding: 0 15px;
    text-align: center;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
    line-height: 24px;
    transition: opacity var(--default-transition);
}

.hl-listing-card-1__tag:hover {
    opacity: 0.9;
    color: #fff;
}

.hl-listing-card-1__tag_green {
    background-color: var(--green-1);
}

.hl-listing-card-1__tag_red {
    background-color: var(--red-1);
}

.hl-listing-card-1__tag_blue {
    background-color: var(--blue-1);
}

.hl-listing-card-1__location {
    bottom: 16px;
}

.hl-listing-card-1__carousel {

}

.hl-listing-card-1__carousel-nav {
    width: 50px;
}

.hl-listing-card-1__carousel-nav > svg {
    width: 45px;
    height: 45px;
    fill: #fff;
}

.hl-listing-card__carousel-nav_prev {
    left: 0;
}

.hl-listing-card__carousel-nav_next {
    right: 0;
}

.hl-listing-card-1__location {
    color: #fff;
    font-weight: 600;
    font-size: 12px;
}

.hl-listing-card-1__location-item {
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
    transition: all var(--default-transition);
    margin-right: 4px;
}

.hl-listing-card-1__location-item:hover {
    color: var(--red-1);
}

.hl-listing-card-1__body {
    flex-grow: 1;
    padding: 16px 20px 18px;
}

.hl-listing-card-1__title {
    margin: 0;
}

.hl-listing-card-1__title a {
    display: block;
    font-weight: 700;
    transition: all var(--default-transition);
    color: var(--dark);
    font-size: 18px;
}

.hl-listing-card-1__title a:hover {
    color: var(--dark);
}

.hl-listing-card-1__price {
    color: var(--red-1);
    font-size: 17px;
    font-weight: 600;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.hl-listing-card-1__description {
    color: var(--gray-1);
    font-size: 13px;
    line-height: 1.6;
}

.hl-listing-card-1__description > * {
    color: inherit;
    font-size: inherit;
    line-height: inherit;
}

.hl-listing-card-1__info {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.hl-listing-card-1__info > * {
    margin-bottom: 4px;
}

.hl-listing-card-1__info-item {
    display: flex;
    align-items: center;
    color: var(--gray-1);
    margin-right: 12px;
    font-size: 13px;
}

.hl-listing-card-1__info-item:last-child {
    margin-right: 0;
}

.hl-listing-card-1__body > * {
    margin-bottom: 8px;
}

.hl-listing-card-1__body > *:last-child {
    margin-bottom: 0;
}

.hl-listing-card-1__bottom {
    padding: 0 20px;
}

.hl-listing-card-1__bottom-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px 0;
    border-top: 1px solid var(--gray-border-1);
}

.hl-listing-card-1__agent {
    display: flex;
    align-items: center;
}

.hl-listing-card-1__agent-img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    border-radius: 100%;
}

.hl-listing-card-1__agent-name {
    font-weight: 700;
    color: var(--dark);
    transition: all var(--default-transition);
    font-size: 13px;
}

.hl-listing-card-1__agent:hover .hl-listing-card-1__agent-name {
    color: var(--red-1);
}
/* Listing card 1 END */






/* Listing card 2 BEGIN */

/* Listing card 2 END */



