.listings-search-default {
    display: flex;
    flex-wrap: wrap;
    padding: 30px 0;
}

.listings-search-default .wrap-input {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.listings-search-field-label {
    margin-bottom: 6px;
    font-size: 14px;
    font-weight: 500;
}

.listings-search-field-label:empty {
    display: none;
}

.listings-search-default .wrap-field {
    padding: 0 15px;
    display: flex;
    align-items: flex-end;
}

.listings-search-default .form-control {
    margin-top: auto;
}

.listings-search-default .wrap-field_search .btn {
    width: 100%;
}

.listings-search-default .wrap-field_search .wrap-input {
    flex-grow: 1;
}

.listings-search-default .wrap-field_search .listings-search-field-submit {
    flex-shrink: 0;
    min-width: 100px;
    margin-left: 15px;
}

.wrap-field-price {
    width: 100%;
    max-width: calc(50% - 6px);
}

.wrap-field-price:first-child {
    margin-right: auto;
}

@media (max-width: 992px) {
    .listings-search-default .wrap-field {
        width: 50% !important;
    }
}

@media (max-width: 600px) {
    .listings-search-default .wrap-field {
        width: 100% !important;
    }
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}


/* Select 2 BEGIN */
.wrap-select .ms-choice {
    border: none;
    line-height: initial;
    color: inherit;
    border-radius: 0;
    height: 100%;
    background: transparent;
    outline: none;
}

.wrap-select .ms-drop ul>li {
    display: flex;
    align-items: center;
}

.wrap-select .ms-drop ul > li > label {
    display: flex;
    align-items: flex-start;
    width: 100%;
    white-space: initial !important;
}

.wrap-select .ms-drop ul > li > label span {
    width: 100%;
}

.wrap-select .ms-drop ul > li > label input {
    margin-top: 2px;
}

.wrap-select .ms-choice > span {
    top: 50%;
    transform: translate(0, -50%);
    padding: 2px 16px;
    color: #444;
    font-weight: 500;
}

.wrap-select .ms-choice:hover,
.wrap-select .ms-choice:focus,
.wrap-select .ms-choice:active {
    box-shadow: none;
    border: none;
    background: transparent;
    outline: none;
}

.wrap-select .ms-drop.bottom {
    left: 0;
    top: calc(100% + 6px);
    max-width: 100%;
    width: 100%;
    min-width: 200px;
}

.form-control,
input[type=date],
input[type=email],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=text],
input[type=url],
select,
.select2.select2-container,
textarea {
    padding: 6px 16px;
    border-radius: 4px;
    height: 42px;
    border: 1px solid rgb(168, 168, 168);
    box-shadow: none;
    outline: none;
}

.select2-container--default .select2-selection--single {
    border: none !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    padding: 0 !important;
}

.wrap-select * {
    outline: none;
}

.wrap-select {
    position: relative;
    background-color: #fff;
    border-radius: 4px;
}
.wrap-select .select2 {
    width: 100% !important;
}
.wrap-select .select-icon {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    right: 8px;
    transform: translate(0, -50%);
    pointer-events: none;
    transition: 0.2s all ease;
}
.select2.select2-container--open ~ .select-icon {
    transform: translate(0, -50%) scale(1, -1);
}

.wrap-select .select-icon path:first-child {
    fill: #000;
}
.wrap-select .select2-container:last-child {
    top: calc(100% + 6px) !important;
    left: 50% !important;
    transform: translate(-50%, 0) !important;
    min-width: 140px;
    z-index: 9;
    width: 100%;
}
@media (max-width: 768px) {
    .wrap-select .select2-container:last-child {
        min-width: 100px;
        top: 100% !important;
    }
}
@keyframes dropdown-show {
    from {
        opacity: 0;
        transform: translate(0, 8px);
    }
    to {
        opacity: 1;
        transform: translate(0);
    }
}
.select2-selection__arrow {
    display: none;
}
.select2-container--default .select2-selection--single {
    border: none;
    background-color: transparent;
    width: 100%;
}
.select2 > .selection {
    display: flex;
    align-items: center;
    height: 100%;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: inherit;
    font-weight: 500;
    padding: 0;
}
@media (max-width: 1260px) {
    .select2-container--default .select2-selection--single .select2-selection__rendered {
        font-size: 15px;
    }
}
@media (max-width: 768px) {
    .select2-container--default .select2-selection--single .select2-selection__rendered {
        padding-left: 6px;
        padding-right: 9px;
    }
}
.select2-search {
    display: none;
}
.select2-dropdown {
    background-color: #fff;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 4px !important;
    box-shadow: 0 3px 12px 0 rgba(0, 0, 0, .1);
    border: none;
}
@media (max-width: 768px) {
    .select2-dropdown {
        padding-top: 6px;
        padding-bottom: 6px;
    }
}
.select2-container--default .select2-results__option {
    color: inherit;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    padding: 4px 16px;
    transition: 0.3s all ease;
}
@media (max-width: 768px) {
    .select2-container--default .select2-results__option {
        font-size: 13px;
        line-height: 20px;
        padding: 3px 12px;
    }
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #4054B2 !important;
    color: #fff;
}
.select2-container--default .select2-results__option[aria-selected=true] {
    background-color: #4054B2 !important;
    color: #fff;
}

.hello_search_button {
    border: none;
}

.hello_search_button:focus {
    outline: none;
}

/* Select 2 END */

.listing-search-padding-0 {

}

.listing-search-padding-1 {
    padding-left: 20px !important;
}

.listing-search-padding-2 {
    padding-left: 40px !important;
}

.listing-search-padding-3 {
    padding-left: 60px !important;
}

.listing-search-padding-4 {
    padding-left: 80px !important;
}

.listing-search-padding-5 {
    padding-left: 100px !important;
}

.listing-search-padding-6 {
    padding-left: 120px !important;
}

.listing-search-padding-7 {
    padding-left: 140px !important;
}

.listing-search-padding-8 {
    padding-left: 160px !important;
}

.listing-search-padding-9 {
    padding-left: 180px !important;
}

.listing-search-padding-10 {
    padding-left: 200px !important;
}
