:root {
    --default-transition: 0.3s ease;
    --blue: #00aeff;
    --blue-dark: #1583d2;
}


.hl-img-responsive {
    max-width: 100%;
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
}

.hl-agents {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
    grid-gap: 30px;
    align-content: stretch;
    align-items: stretch;
}

.hl-agents .hl-agent {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 100%;
    background-color: #fff;
    line-height: 1.4;
    padding: 35px 20px;
    text-align: center;
    transition: 0.3s all ease;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    border: 1px solid rgba(0, 0, 0, 0.05);
}

/*.hl-agents .hl-agent:hover {*/
/*    box-shadow: 0 70px 70px rgba(0, 0, 0, 0.2);*/
/*    transform: translate(0, -10px);*/
/*}*/

.hl-agent__wrap-img {
    width: 150px;
    margin: 0 auto 30px;
    position: relative;
    border-radius: 100%;
    overflow: hidden;
}

.hl-agent__wrap-img:before {
    content: "";
    padding-top: 100%;
    display: block;
    pointer-events: none;
}

.hl-agent__wrap-img img {
    display: block;
    width: 100%;
    height: 100% !important;
    position: absolute;
    top: 0;
    left: 0;
}

.hl-agents .hl-agent__title,
.hl-agents .hl-agent__bottom-link {
    font-weight: bold;
    color: var(--blue);
    margin-bottom: 6px;
    transition: 0.3s all ease;
}

.hl-agents .hl-agent__bottom-link {
    margin-bottom: 0;
    font-size: 14px;
}

.hl-agents .hl-agent__title:hover,
.hl-agents .hl-agent__bottom-link:hover {
    color: var(--blue-dark);
}

.hl-agents .hl-agent__position {
    font-weight: 500;
    display: block;
    margin-bottom: 20px;
}

.hl-agents .hl-agent__description {
    color: #636363;
    line-height: 1.7;
    font-size: 14px;
    margin-bottom: 30px;
}

.hl-agents .hl-agent__description > * {
    color: inherit;
    line-height: inherit;
    font-size: inherit;
}

.hl-agents .hl-agent__bottom {
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}


.hl-agent__table {
    padding: 0;
    margin: 0;
}

.hl-agents-2 .hl-agent__table {
    font-size: 16px;
}

.hl-agents-2 .hl-agent__table-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #eef3f6;
}

.hl-agents-2 .hl-agent__table-label {
    font-weight: bold;
    color: #000;
    max-width: 40%;
    flex-shrink: 0;
    margin-right: 8px;
}

.hl-agents-2 .hl-agent__table-value {
    color: #333;
    text-align: right;
    overflow-wrap: break-word;
    max-width: 60%;
}

.hl-agents-2 .hl-agent__table-value a {
    text-decoration: none;
    color: var(--blue);
    transition: 0.3s all ease;
}

.hl-agents-2 .hl-agent__table-value a:hover {
    color: var(--blue-dark);
}


.hl-agent-2 .hl-agent__wrap-img {
    width: 100%;
    border-radius: 0;
    margin-bottom: 20px;
    display: block;
}

.hl-agent-2 .hl-agent__wrap-img:before {
    content: '';
    display: block;
    padding-top: 100%;
}

.hl-agents-2 {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));
    grid-gap: 24px;
    align-content: stretch;
    align-items: stretch;
}

.hl-agent-2 {
    /*background-color: #fff;*/
    /*padding: 12px;*/
}

@media (max-width: 420px) {
    .hl-agents-2 {
        grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    }
}

.hl-agents-main .agent {
    overflow: hidden;
}

.hl-agent__table-row {
    font-size: 14px;
}


/* Skin 3 BEGIN */
.hl-agents-3.hl-agents-4 {
    display: block;
}

@media (max-width: 1024px) {
    .hl-agents-3.hl-agents-4 {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
        grid-gap: 24px;
        align-content: stretch;
        align-items: stretch;
    }
}

@media (max-width: 1024px) {
    .hl-agents-3.hl-agents-4 .hl-agent__wrap-img {
        max-width: 100%;
    }
}

.hl-agents-3.hl-agents-4 .hl-agents-main {
    flex-direction: row;
    display: flex;
    align-items: stretch;
    flex-grow: 1;
    padding: 0 !important;
    grid-template-columns: none !important;
    grid-gap: 0 !important;
}

.hl-agents-3.hl-agents-4 .hl-agent {
    margin-bottom: 30px;
}

@media (max-width: 1024px) {
    .hl-agents-3.hl-agents-4 .hl-agents-main {
        flex-direction: column;
    }

    .hl-agents-3.hl-agents-4 .hl-agent {
        margin-bottom: 0;
    }
}

.hl-agents-3.hl-agents-4 .hl-agent:last-child {
    margin-bottom: 0;
}

.hl-agents-3.hl-agents-4 .hl-agent__wrap-img {
    flex-shrink: 0;
    width: 100%;
    max-width: 264px;
    margin-bottom: 0;
}

@media (max-width: 1024px) {
    .hl-agents-3.hl-agents-4 .hl-agent__wrap-img {
        max-width: 100%;
    }
}

.hl-agents-3.hl-agents-4 .hl-agent__content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    border-top: none !important;
    margin-top: 0 !important;
    padding: 30px !important;
}

@media (max-width: 1024px) {
    .hl-agents-3.hl-agents-4 .hl-agent__content {
        padding: 20px 18px !important;
    }

    .hl-agents-3.hl-agents-4:not(.hl-agents-3_small) .hl-agent__bottom {
        padding: 14px 18px 0 18px;
        margin: 0 -18px;
    }
}

.hl-agents-3.hl-agents-4 .hl-agent__content > *:last-child {
    margin-top: auto;
    padding-top: 12px;
    border-top: 1px solid #efefef;
}

.hl-agents-3.hl-agents-4 .hl-agent__bottom {
    display: none;
}

.hl-agents-3.hl-agents-4 .hl-agents-main .hl-agent__bottom {
    display: flex;
}
/* Skin 3 END */


/* Skin 3 small BEGIN */
.hl-agents-3.hl-agents-3_small {
    display: block !important;
}

.hl-agents-3.hl-agents-3_small .hl-agent {
    box-shadow: none !important;
    border: none !important;
    border-radius: 0;
    transform: none !important;
}

.hl-agents-3.hl-agents-3_small .hl-agent__wrap-img {
    width: 100px;
    height: 100px;
    border-radius: 1000px;
    margin-right: 18px;
}

.hl-agents-3.hl-agents-3_small .hl-agent__bottom {
    display: flex;
    padding: 14px 0 0 !important;
}

.hl-agents-3.hl-agents-3_small .hl-agents-main .hl-agent__bottom {
    display: none !important;
}

.hl-agents-3.hl-agents-3_small .hl-agents-main {
    align-items: center;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row !important;
}

.hl-agents-3.hl-agents-3_small .hl-agent__description {
    display: none !important;
}

.hl-agents-3.hl-agents-3_small .hl-agent__content {
    padding: 0 !important;
}
/* Skin 3 small END */


/* Skin 4 BEGIN */
.hl-agents-4 {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    grid-gap: 24px;
    align-content: stretch;
    align-items: stretch;
}

.hl-agents-4 .hl-agent {
    box-shadow: 0 4px 16px rgba(51, 51, 51, 0.08);
    border-radius: 12px;
    border: 1px solid rgba(0, 0, 0, 0.09);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    transition: all var(--default-transition);
}

.hl-agents-4 .hl-agent:hover {
    box-shadow: 0 0 14px rgba(91, 91, 91, 0.28);
    transform: translate(0%, -1px);
}

.hl-agents-4 .hl-agent > *:not(.hl-agent__wrap-img) {
    padding: 0 18px;
}

.hl-agents-4 .hl-agent > *:last-child {
    padding: 18px;
    border-top: 1px solid #efefef;
    margin-top: auto;
}

.hl-agents-4 .hl-agent__wrap-img {
    display: block;
    margin: 0 0 24px;
    width: 100%;
    border-radius: 0;
}

.hl-agents-4 .hl-agent__wrap-img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}

.hl-agents-4 .hl-agent__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hl-agent__socials {
    list-style: none;
}
.hl-agents-4 .hl-agent__socials {
    display: flex;
    align-items: center;
    justify-content: center;
}
.hl-agents-4 .hl-agent__socials-item {
    margin-right: 8px;
}
.hl-agents-4 .hl-agent__socials-item:last-child {
    margin-right: 0;
}
.hl-agents-4 .hl-agent__socials-link {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(11, 12, 23, 0.1);
    border-radius: 1000px;
    width: 23px;
    height: 23px;
    transition: 0.3s all ease;
}
.hl-agents-4 .hl-agent__socials-link:hover {
    opacity: 0.8;
}
.hl-agents-4 .hl-agent__socials-link i {
    font-size: 11px;
    color: #969BAB;
}

.hl-agents-4 .hl-agent__title {
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: #343B4C;
    transition: 0.3s all ease;
    display: block;
    margin-bottom: 8px;
}
.hl-agents-4 .hl-agent__title:hover {
    color: #0987F8;
}
.hl-agents-4 .hl-agent__position {
    display: block;
    font-size: 14px;
    line-height: 20px;
    color: #0987F8;
    margin-bottom: 12px;
    font-weight: 500;
}
.hl-agents-4 .hl-agent__description {
    color: #343B4C;
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 16px;
}
.hl-agents-4 {}
.hl-agents-4 {}
.hl-agents-4 {}
.hl-agents-4 {}
.hl-agents-4 {}
/* Skin 4 END */


/*.sticky-agent .hl-agent__bottom {*/
/*    display: none !important;*/
/*}*/

/*.sticky-agent .hl-agent__position {*/
/*    display: none !important;*/
/*}*/

.sticky-agent .hl-agents-3.hl-agents-3_small .hl-agent__wrap-img {
    width: 60px !important;
    height: 60px !important;
}

.sticky-agent .hl-agents-4 .hl-agent__title {
    font-size: 16px !important;
    line-height: 16px !important;
}

.sticky-agent .hl-agents-4 .hl-agent__position {
    font-size: 14px !important;
    line-height: 14px !important;
}

.sticky-agent .hl-agents-3.hl-agents-3_small .hl-agents-main {
    margin-bottom: 0 !important;
}


.hl-agents-3_small .hl-agents-main {
    border-top: none !important;
}

.hl-agents-3_small .hl-agent__title {
    border-top: none !important;
}